<div class="">
    <div class="row">

        <div class="col-8">

            <div class="card">

                <div class="card-header bg-info text-center"> Shopping List </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-xl-4 col-sm-6 col-12 border border-warning mg-2" *ngFor="let item of products">

                            <div class="row text-center mb-2">

                                <div class="col-12">

                                    <img class="img-fluid mt-3" src="{{item.product_image}}" alt="Card image cap">

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                </div>


            </div>

        </div>

    </div>